doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Message | My Shop
  body
    p Successfully Done. Go Back to Home Page

    p 
         a(href='/products/list/') Home
        